* {
  padding: 0;
  border: 0;
  margin: 0;
}
.inicio {
  grid-area: inicio;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu {
  grid-area: menu;
  background-color: #ecebeb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.menu p {
  padding: 0.5rem;
}

.pie {
  grid-area: pie;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grilla {
  grid-area: principal;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
.grilla img {
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-areas:
    "inicio inicio "
    "menu principal"
    "pie pie ";
}

.producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.producto img {
  height: 90%;
  width: 90%;
  object-fit: cover;
}
