* {
  padding: 0;
  border: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
.inicio {
  grid-area: inicio;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu {
  grid-area: menu;
  background-color: #ecebeb;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding-left: 2rem;
}
.menu h4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.menu p {
  padding-bottom: 0.5rem;
}

.pie {
  grid-area: pie;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grilla {
  grid-area: principal;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding-bottom: 0.5rem;
  padding-left: 10px;
  padding-right: 30px;
}
.grilla img {
  width: 100%;
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 8.5fr 0.5fr;
  grid-template-areas:
    "inicio inicio "
    "menu principal"
    "pie pie ";
  height: 100vh;
}

.producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1rem;
}
.producto h2 {
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}
.producto p {
  padding-bottom: 2rem;
}
.producto img {
  width: 90%;
  height: 50%;
  object-fit: contain;
}

.buton {
  background-color: rgb(173, 171, 171);
  color: white;
  width: 80%;
  height: 10%;
  text-decoration: none;
  border-radius: 10px;
  font-size: medium;
}
.buton:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
}

.opciones:hover {
  text-decoration: underline;
  cursor: pointer;
  transition: 0.4s;
}

.zoom:hover {
  transform: scale(1.2);
  transition: 0.7s;
  cursor: pointer;
}
